
@{
    ViewBag.Title = "Administrar";
}

<h2>Administrar</h2>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Empleados", "Empleados", "Administrar")</li>
        <li>@Html.ActionLink("Clientes", "Clientes", "Administrar")</li>
    </ul>
</div>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Titulo de la web</title>
    <style type="text/css">
        img {
            width: 796px;
            height: 299px;
            margin-top: -23px;
            margin-left: -163px;
            left: 35%;
            top: 50%;
            position: absolute;
        }
    </style>
</head>
<footer>
    <center><img src="~/Imagenes/Untitled.png" /></center>
</footer>
