@model List<Baja_Industriales.Models.View_Model.ListAlmacenViewModel>
@{
    ViewBag.Title = "Inventario";
}

<h2>Inventario</h2>
<body>
    <div>
        @*fecha*@
        <label for="start">Fecha:</label>
        <input type="date" id="start" name="trip-start" min="2021-01-01" max="2031-12-31">
        @*textbox de busqueda*@
        <input style="float:right" class="input-group-sm" id="buscar" type="text" />
        @*identificador de empleado*@
        <label class="control-label" for="form-group-select">No. Empleado:</label><input id="numempleado" type="text" size="5" maxlength="10" />
    </div>
    <br />
    <div class="form-group" style="float:right">
        <input class="btn btn-n" id="Agregar" type="button" value="Agregar" />
        <input class="btn btn-n" id="Eliminar" type="button" value="Eliminar" />
        <input class="btn btn-n" id="Modificar" type="button" value="Modificar" />
        <input class="btn btn-n" id="Buscar" type="button" value="Buscar" />
    </div>
    <br />
    <br />
    <br />
    <div>
        <pre>
        <label class="control-label" for="form-group-select">Código de producto:</label>                <input id="cod_producto" type="text" />             <label class="control-label" for="form-group-select">Descripción:</label>               <input id="descripcion" type="text" />

        <label class="control-label" for="form-group-select">Cantidad:</label>                          <input id="cantidad" type="text" />                 <label class="control-label" for="form-group-select">Precio:</label>                <input id="precio" type="text" />

        </pre>
    </div>
</body>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Cod_Producto</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Stock</th>
            </tr>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>@oElemento.Cod_Producto</td>
                    <td>@oElemento.Descirpcion</td>
                    <td>@oElemento.Precio</td>
                    <td>@oElemento.Stock</td>
                </tr>
            }
        </table>
    </div>
</div>