
@{
    ViewBag.Title = "Cotizaciones";
}

<h2>Cotizaciones</h2>
@*textbox de busqueda*@
<input style="float:right" class="input-group-sm" id="buscar" type="text" />
<br />
<br />
<div class="form-group" style="float:right">
    <input class="btn btn-n" id="Agregar" type="button" value="Agregar" />
    <input class="btn btn-n" id="Eliminar" type="button" value="Eliminar" />
    <input class="btn btn-n" id="Modificar" type="button" value="Modificar" />
    <input class="btn btn-n" id="Buscar" type="button" value="Buscar" />
    <input class="btn btn-n" id="vista" type="button" value="Exportar" />
</div>
<br />
<br />
<br />
<div>
    <pre>
        <label class="control-label" for="form-group-select">Cliente:</label>                           <input id="cliente" type="text" />                 <label class="control-label" for="form-group-select">Código de producto:</label>    <input id="cod_prod" type="text" />

        <label class="control-label" for="form-group-select">Correo:</label>                            <input id="correo" type="text" />                 <label class="control-label" for="form-group-select">Cantidad:</label>              <input id="cantidad" type="text" />

        <label class="control-label" for="form-group-select">Teléfono:</label>                          <input id="telefono" type="text" />                 <label class="control-label" for="form-group-select">Precio:</label>                <input id="precio" type="text" />
    </pre>
</div>
